body {
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  background: #222;
  /* background-image: url('https://source.unsplash.com/1600x900/?landscape'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* z-index:-1; */
  /* Scroll is required to see full info */
  position: relative;
  font-family: 'Poppins', sans-serif;

}
/* .logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
} */
.top-nav {
  position: relative !important;
  top: 0px;
  right: 10px !important;
  left: 10px;
  z-index: 1030;
}

.logo-img {
  max-width: 50px; /* Adjust the maximum width */
  max-height: 50px; /* Adjust the maximum height */
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
/* Inside your CSS file (style.css) */

/* Header Text */
.header-component {
  padding: 5px 20px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  font-size: 1em;
  font-weight: 700;
  width: fit-content; 
  position: relative;
  margin: 6px auto;
  z-index: 9;
}

#date-time{
 font-family:monospace;
}

/* nav BEM Conevntion * -------/

/* Block */

.navbar {
  height: 0px;
}

.nav-component {
  height: 0px;
}

.nav-component__anchor {
  text-decoration: none;
}

.nav-component__celcius-block {
  top: 30px;
  right: 30px;
  margin: 10px 20px;
}

.nav-compoent__share-button {
  margin: 10px 30px;
  border-color: white;
}


.weather-component__card {
  margin: 20px 0;
  position: relative;
  top: 1rem;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 1em;
  /* width: 20rem; */
  max-width: 700px;
  height: 500px;
  backdrop-filter: blur(8px);

}

.weather-component__search {
  display: flex;
  justify-content: center;
}

.weather-component__searchbar h1 {
  overflow: hidden;
  border-right: 1px solid;
  margin: 0 auto;
  position: relative;
  animation: reza 4s steps(30, end);
  animation-iteration-count: infinite;
}

input.weather-component__search-bar {

  outline: none;
  padding: 0.3em 1em;
  background: #fff;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 50px);
  color: black;
  border: 1px solid white;
  border-radius: 30px;
  caret-color: black;
}

.weather-component__search {
  display: flex;
  justify-content: center;
}

.weather-component__search-bar {
   border-radius: 30px; 
}

option:hover,
.active {
  background-color: lightblue;
}

input.weather-component__search-bar:focus {
  transition: 700ms;
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
  
  border-radius: 30px;
}

.weather-component__button {
  margin: 0.2rem 0.5rem;
  margin-right: 2rem;
  margin-left: 3rem;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button_container{
 background-color:  white;
  border-radius: 0 30px 30px 0;
  display: flex;
}

button:hover {
  /* background: #7c7c7c6b; */
  border: 1px solid black;
  background-color: white;
  color: #156569;
}

button:focus {
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
}

/* weather section */

.weather-component__AQI {
  width: max-content;
  display: flex;
  flex-direction: row;
}

.weather-component__city-temperature {
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 80%;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  /* text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.5); */
  background-color: rgba(219, 228, 228, 0.32);
  border-radius: 32px;
  padding: 5px;
}

.weather-component__data {
  padding: 16px;
}

.weather-component__desc-primary {
  margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    /* text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.5); */
    background-color: rgba(219, 228, 228, 0.32);
    border-radius: 32px;
    font-size-adjust: 2;
    align-items: center;
}

.weather-component__icn {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-component__icn img {
  width: 50px;
  height: 50px;
}



.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.loading:after {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  content: "Loading...";
  position: absolute;
  right: 50%;
  top: 15px;
  /* bottom: 50%; */
  left: 50%;
}

/* Global Styles */

.flex-1 {
  flex: 1;
}

.transition {
  transition: 2s;
}

/* Forecast */
.forecast-component {
  position: relative;
  top: 2.5rem;
}

.forecast-img {
  height: 50px;
  width: 50px;
}

.forecast-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.forecast-component__items-wrapper {
  display: flex; /* Use flexbox */
  flex-wrap: nowrap; /* Prevent wrapping to multiple lines */
  gap: 0.6rem; /* Adjust the gap between items */
  align-items: center;
  font-family: "Inter", sans-serif;
  overflow-x: auto; /* Add horizontal scroll if necessary */
}


.forecast-component__item {
  position: relative;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  height: 420px;
  width: 150px;
  min-width: max-content;

}

.w-100{
  width: 111%!important;
}

.forecast-component__item img {
  width: 50px;
  height: 50px;
}

.forecast-component__item:hover {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(9, 32, 63, 0.75);

  border-radius: 12px;
  cursor: pointer;
}

/* images and icons  for wind-speed,sunrise,sunset,humidity*/

.humidity-img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 10px;
}

.wind-img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 10px;
}



.weather-component__city-name {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  /* text-shadow: 2px 4px rgba(0, 0, 0, 0.885), 2px 4px rgba(0, 0, 0, 0.885); */
}

.weather-component__city-temperature {
  text-align: center;
}

.humidity {
  margin: 10px;
  height: 28px;
}

.wind {
  margin: 10px;
}

.sunrise {
  margin: 10px;
  height: 28px;
  align-items: center;
}

.sunset {
  margin: 10px;
  height: 28px;
  align-items: center;
}

/* toast style */
.center {
  text-align: center;
}

#toast {
  visibility: hidden;
  min-width: 170px;
  background: #fafafacd;
  box-shadow: rgb(0 0 0 / 40%) 0px 3px 8px;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 7px 4px;
  position: fixed;
  top: 15px;
  z-index: 3000;
  right: 16px;
  font-size: 16px;
  transform: translateY(-100%); /* Start off the screen */
  transition: transform 0.25s ease-in-out; /* Transition for sliding */
}

#toast.show {
  visibility: visible;
  transform: translateY(0); /* Slide in from the top */
}


@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.toast-component__checkicon i {
  font-size: 40px;
  color: #47d764;
}


/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  background-clip: content-box;
}


@media only screen and (min-width: 1200px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 992px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto auto;
  }

  #toast {
    top: 50%;
    transform: translateY(-50%);

    right: 50%;
    transform: translateX(50%) !important;
    transform: none;
    transition: none;
  }

  .navbar {
    height: fit-content;
    /* border: 2px solid red; */
    margin: 1rem 0.15rem 0rem 0.15rem;
  }
  .nav-component {
    height: fit-content;
  }
  .weather-component__card {
    padding: 7px;
    height: 460px;
  }
  .weather-component__card {
    margin: 0;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 10;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}

.label {
  width: 85px;
  height: 40px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  transform: scale(1);
}

.ball {
  width: 35px;
  height: 35px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(45px);
}

.celcius {
  color: white;
  font-size: 15px;
}

.farenheit {
  color: white;
  font-size: 15px;
}


/* current day in future weather forecast*/
.forecast-component__item-current-day {
  background-color: rgb(9, 32, 63, 0.75);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

@media only screen and (max-width: 576px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto;
  }

  .weather-component__card {
    padding: 7px;
    height: 460px;
  }

  .weather-component {
    padding: 10px;
  }
}


@media only screen and (max-width: 550px) {
 
  .weather-component__city-name {
    font-size: 1.5rem;
  }

  .weather-component__city-temperature {
    font-size: 1.5rem;
  }
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(3px);
  z-index: -1;
}

#background::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}
